:root{
    --primary-color: #fff;
    --primary-color-text: rgba(0, 0, 0, 0.88);
}
:root[data-theme="dark"]{
  --primary-color: #141414;
  --primary-color-text: rgba(255, 255, 255, 0.85);
}

// :root[data-theme="light"]{
  
// }

// .ant-layout-content, .logo{
//   background-color: var(--primary-color);
//   color: var(--primary-color-text);
// }
// .ant-layout-header{
//   background-color: var(--primary-color);
// }
